@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;

}

body{
    display: flex;
    margin: 0;
    overflow: hidden;
}

.nav{
    flex: 1;
    background: linear-gradient(360deg,#1FEF27,#279D2C );
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sena{
    max-width: 100%;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    color: white;
    align-items: center;
    border-bottom: 2px solid white;
}

.menu{
    height: 8%;
    border-bottom: 1.5px white solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu div{
    color: white;
    font-size: 22px;
    font-weight: 700;
    display: flex;
}

.menu>div:hover{
    background: rgb(0, 0, 0, 0.2);
    padding: 7% 0;
    cursor: pointer;
}

.main{
    display: flex;
}

.mainLayout {
    height: 92vh;
    margin: 12px;
    flex: 4;
     
}

.calendar {
    width: 100%;
    height: 100%;
    
}

.menu span{
    margin:-1px 5px;

}

.sena img{
    width: 24%;  
    margin: 5px;
}

.body{
    flex: 8;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.header{
    flex: 1;
    background: linear-gradient(-90deg,#1FEF27,#279D2C );
    display:flex;
    padding: 2px 0;
   
    box-sizing: border-box;
    border-left: 0.4px solid black;
    
}

.title{
    flex: 12;
    color: white;
    font-size: 40px;
    text-align: center;
    margin: auto;
    font-weight: 700;
    margin-left: 15px;
}

.perfil{
    flex: 1;
    text-align: right;
    margin: auto 15px;
    
}

.perfil>span{
    color: white;
    font-size: 46px;
    cursor: pointer;
    padding-top: 5px;
    
}

.perfil>span:hover{
    color:rgb(0, 0, 0, 0.55);
}

.perfil{
    flex: 1;
    user-select: none;
}

.perfilMenu {
    background: linear-gradient(180deg,rgba(0,0,0,0.80),rgba(24, 63, 33, 0.80));
    position: absolute;
    top: 50px; 
    right: 10px; 
    width: 20%; 
    height: 75%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    color: white;
    
  }

.perfilIcon {
    display: flex;
    text-align: center;
  }

.perfilIcon span{
    color: white;
    font-size: 85px;
    margin: 8px 8px 1.5px 9px;
    
}

.perfilIcon>div{
    display: flex;
    flex-direction: column;
}
.btnBlue{
    background-color: #20CA9A;
    padding: 6px 10px;
    margin-left: 5px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    border: 0;
}

.btnBlue:hover{
    background-color:#2ea583 ;
    cursor: pointer;
}

.nameUser{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px 15px 5px;
}

.nameUser h5{
    color: rgb(255, 255, 255, 0.5);
}

.userData{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 25px;
}

.userData div{
    flex: 1 1 40%;
    text-align: left;
    margin: 10px 0;
    line-height: 22px;
}

.userData div h5{
    color: rgb(255, 255, 255, 0.7);
}

.userEnd{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 5px auto;
    align-items: center;
}

.btnRed{
    background-color: #CA2020;
    padding: 6px 10px;
    margin:25px 0 0 5px;
    border-radius: 20px;
    width: 80%;
    color: white;
    font-weight: 600;
    border: 0;
}

.btnRed:hover{
    background-color: #aa2727;
    cursor: pointer;
}

.main{
    flex: 16;

}

.description {
    flex: 1;
    color: white;
    height: 85%;
    margin: 2.5% 0;
}

.titleDescription{
    background-color: #B92F2F;
    display: flex;
    height: 5.5%;
    align-items: center;
    justify-content: space-around;
    padding: 0 15%;
    letter-spacing: 1.5px;
    
}

.mainDescription{
    background: linear-gradient(180deg, #423F3F, #A8A2A2);
    height: 100%;
}

.textDescription{
    padding: 20px 20px 50px 20px;

}

.observacion{
    padding: 75px 20px 20px 20px;
}

.observacion h3 {
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 16px;
}

.observacion h5 {
    color: orange;
    line-height: 18px;
}

/* Calendario */

.fc-event-time {
    order: 2; 
}
.fc-event-title {
    order: 1; 
   
}
