@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    margin: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.nav {
    flex: 1;
    background: linear-gradient(360deg,#1FEF27,#279D2C );
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sena {
    max-width: 100%;
    display: flex;
    font-size: clamp(16px, 1.4vw, 24px);
    font-weight: 700;
    color: white;
    align-items: center;
    border-bottom: 2px solid white;
    margin-right: 1.5%;
}

.menu {
    height: 8%;
    border-bottom: 1.5px white solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu div {
    color: white;
    font-size: clamp(11px, 1.25vw, 22px);
    font-weight: 700;
    display: flex;
    padding: 4% 0;
}

.menu div:hover {
    background: rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.main {
    display: flex;
    flex: 16 1 auto;
    height: clamp(85vh, 90vh, 92vh);
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.8s ease, opacity 0.8s ease;
    overflow-y: auto;
}

.main.show {
    opacity: 1;
    transform: translateX(0);
}

.mainLayout {
    height: 100%;
    margin: 12px;
    flex: 6;
  
}

.mainLayout h3{
    font-size: clamp(18px, 1vw, 30px);
}

.mainLayout h4{
    font-size: clamp(15px, 0.8vw, 27px);
    font-weight: 600;
}

.menu span {
    margin: -1px 5px;
}

.sena img {
    width: 24%;  
    margin: 0.5%;
}

.body {
    flex: 8;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    height: 8vh;
    background: linear-gradient(-90deg,#1FEF27,#279D2C );
    display: flex;
    padding:  0;
    box-sizing: border-box;
    border-left: 0.4px solid black;
}

.title {
    flex: 12;
    color: white;
    font-size: clamp(30px, 2.8vw, 48px);
    text-align: center;
    margin: auto;
    font-weight: 700;
    margin-left: 15px;
}

.perfil {
    flex: 1;
    text-align: right;
    margin: auto 15px;
}

.perfil > span {
    color: white;
    font-size: clamp(36px, 3vw, 46px);
    cursor: pointer;
    padding-top: 5px;
}

.perfil > span:hover {
    color: rgb(0, 0, 0, 0.55);
}

.perfil > span.active {
    color: rgb(0, 0, 0, 0.55); 
}

.perfil {
    flex: 1;
    user-select: none;
}

.perfilMenu {
    background: linear-gradient(180deg,rgba(0,0,0,0.80),rgba(24, 63, 33, 0.80));
    position: absolute;
    top: 8vh; 
    right: 6px; 
    width: clamp(22vw, 28vw, 38vw);
    min-height: 60vh;
    max-height: 86vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: white;
    transform: translateY(-100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    pointer-events: none; 
}

.perfilMenu.show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto; 
}

.perfilIcon {
    display: flex;
    text-align: center;
}

.perfilIcon span {
    color: white;
    font-size: clamp(65px, 3vw, 85px);
    margin: 8px 8px 1.5px 9px;
}

.perfilIcon > div {
    display: flex;
    flex-direction: column;
}

.btnBlue {
    background-color: #20CA9A;
    padding: 3.5% 10px;
    margin-left: 5px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    border: 0;
    font-size: (12px 1.2vw, 20px);
}

.btnBlue:hover {
    background-color: #2ea583;
    cursor: pointer;
}

.nameUser {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px 15px 5px;
    font-size: clamp(12px, 1.2vw, 25px);
}

.nameUser h5 {
    color: rgb(255, 255, 255, 0.5);
    font-size: clamp(10px, 1.2vw, 23px);
}

.userData {
    display: flex;
    flex-wrap: wrap;
    margin: 1% 2.5%;
}

.userData div {
    flex: 1 1 40%;
    text-align: left;
    margin: 1% 0.2%;
    line-height: 22px;
    font-size: clamp(14px, 1.1vw, 25px);
}

.userData div h5 {
    color: rgb(255, 255, 255, 0.7);
}

.userEnd {
    display: flex;
    flex-direction: column;
    width: clamp(40%, 15vw, 50%);
    margin: 1% auto 1.5% auto;
    align-items: center;
}

.btnRed {
    background-color: #CA2020;
    padding: 1% 10px;
    margin: 5% 0 0 2.6%;
    border-radius: 20px;
    width: clamp(22%, 10vw, 45%);
    color: white;
    font-weight: 600;
    border: 0;
    position: absolute;
    bottom: 2.3%;
    right: 0.4%;
}

.btnRed:hover {
    background-color: #aa2727;
    cursor: pointer;
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    pointer-events: none; /* Evita que el modal capture clics cuando está oculto */
    transition: opacity 0.3s ease-in-out; 
}

.modal.show {
    display: block; /* Mostrar el modal */
    opacity: 1;
    pointer-events: auto; /* Permite la interacción cuando se muestra */
}

.modal-content {
    background-color: white;
    margin: 3.8% auto;
    padding: 1.8%;
    border: 1px solid #888;
    width: 80%;
    overflow-y: none;
    max-height: clamp(30%, 64vh, 76%);
    max-width: 40vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.modal.show .modal-content {
    transform: scale(0.9);
}

.modal.fade-out {
    opacity: 0;
    pointer-events: none;
}

.modal.fade-out .modal-content {
    transform: scale(0.9);
}

.modal-close {
    color: rgb(112, 110, 110);
    float: right;
    font-size: clamp(20px, 20%, 35px);
    font-weight: bolder;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

span{
    cursor: pointer;
}

.deleteBtn {
    background: none;
    border: none;
    cursor: pointer;
    color: #f44336; }


/* Botón para confirmar cambios */
#saveChangesButton {
    background-color: #4CAF50;
    color: white;
    padding: 1.6%;
    margin-top: 1.8%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 35%;
    font-weight: 700;
    font-size: 0.8vw; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  
}

#saveChangesButton:hover {
    background-color: #45a049;
}

.search {
    display: flex;
    justify-content: end;
    width: 98%;
    position: relative;
}
/* Estilos para el formulario */
label {
    display: block;
    margin-top: 1%;
    font-weight: bold;
}

.search input {
   
    width: 45%;
    padding: 0.75%;
    margin-top: 0.2%;;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search button{
    background: none;
    border: none;
    position: absolute;
    top: 23%;
    right: 0.85%;
}

.table-container {
    max-height: 87%; 
    overflow-y: auto; 
    overflow-x: hidden;
    margin-top: 1.4%;
    position: relative;
    
}

.table{
    width: 98%;
    border-collapse: collapse;
    margin: 0 0.5%;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th{
    background-color: #10e0a5;
    position: sticky;
    color: black;
    top: 0;
    z-index: 1;
}

.table th span{
    cursor: pointer;
    position: absolute;
    top: 18%;
}

.table button{
    background: none;
    border: none;
}

.formEdit{
    display: flex;
    flex-wrap: wrap;
}

.modalOrganized{
    flex: 1 1 40%;
}

.modalOrganized input{
    width: 90%;
    padding: 2%;
    border-radius: 6px;
    border: 0.9px solid rgb(85, 84, 84);
    box-shadow: 0 0 3px #279D2C;
    margin: 3% 0;


}


.modalOrganized label{
    padding: 0 0.4%;
    margin: 0 0.4%;
    font-size: clamp(10px, 1vw, 22px);
    font-weight: 600;
    
}

.password-container {
    position: relative;
}



 .toggle-password {
    position: absolute;
    top: 65%;
    right: 8%;
    transform: translateY(-50%);
    cursor: pointer;
}

.close{
    position: absolute;
    font-size: 1.5vw;
    top: 2%;
    right: 2%;
}
.profileBtn {
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
   
    
}

.profile-menu {
    position: absolute;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px; 
    transition: all 0.3s ease;
    display: none; /* Oculto por defecto */
  }

.menu-fixed {
    position: fixed;
}

.menu-absolute {
    position: absolute;
}
 
  

.profile-menu label {
    display: block;
    padding: 5px 0;
}
.profile-menu form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.profile-menu button[type="submit"] {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-menu button[type="submit"]:hover {
    background-color: #45a049;
}